body {
  padding: 0;
  margin: 0;
  background-color: #000000;
  overflow: hidden;
  text-align: center;
}

.header {
  background-color: #214E34;
  height: 300px;
  width:100%;
  background-position: center center;
  text-align: center;
}

h1 {
  color: #fff;
  font-family: 'Footlight MT Light', serif;
  font-size: 80px;
  line-height: 80px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 20%;
}


h2 {
  color: #fff;
  background-color: #214E34;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 500;
  text-align: justify;
  text-transform: uppercase;
}

h3 {
  color: #fff;
  background-color: transparent;
  font-family: 'Times New Rowman', serif;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}

ul {
  margin: 0 auto;
  padding: 0;
  width: 70%;
}

li {
  border-bottom: 1px solid #fff;
  list-style: none;
  margin: 100px 0px;
  padding-bottom: 60px;
}

p {
  color: #ffff;
  line-height: 25px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 100;
  text-align: justify;
}

h4 {
  color: #ffff;
  line-height: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 100;
  text-align: center;
}

a {
  color: #214E34;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}